.contact{
    width: 90%;
    
    p{
        font-size: 0.9rem;
    
        a{
            color: lightcoral;
            position: relative;
            text-decoration: none;
            font-weight: 500;
    
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: lightcoral;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
              }
      
              &:hover:before {
                visibility: visible;
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
              }
        }
    }
}
