.container {
    min-height: 100vh;
}

.content {
    display: flex;
    flex-grow: 1;

    @media(max-width:900px){
        display: block;
    }
}

.main{
    margin-left: 35%;
    max-width: none;
    padding: 6em 3em 3em;
    width: 70%;

    @media(max-width: 900px){
        margin: 0;
        padding: 3em 2em;
        width: 100%;
    }
}
