.header{
    position: fixed;
    width: 35%;
    padding: 6em 3em 3em;
    background-color: #0b0a0a;
    height: 100vh;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 3px 3px 5px 6px #ccc; 

    h1{
        font-size: 1.5em;
        margin-bottom: 2rem;
        color: white;
    }

    ul{
        list-style: none;
        font-weight: 400;
        margin: 0;
        padding: 0;

        li{
            padding: 0 0 15px;

            a{
                color: #eee;
                list-style-type: none;
                text-decoration: none;
                font-size: 1.2rem;

                &:hover{
                    color: #c2c2c2;
                }
            }
        }
    }

    @media(max-width:900px){
        width: 100%;
        position: static;
        padding: 2em;
        height: 30%;

        h1{
            margin-bottom: 1rem;
        }

        li{
            padding: 0 !important;
        }
    }
}

.footer{
    color: white;
    margin-top: 4rem;

    ul{
        display: flex;
        justify-content: space-evenly;

        svg{
            font-size: 2rem;
        }
    }

    @media(max-width:900px){
       margin-top: 2rem;
    }
}